body {
  background: #111;
  color: #666;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

label {
  cursor: pointer;
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
}

button {
  background: #444;
  border: 10px solid #00FFAA;
  cursor: pointer;
  display: block;
  font-family: monospace;
  font-size: 24px;
  height: 80px;
  left: 10%;
  line-height: 60px;
  margin: 0;
  outline: none;
  padding: 0 1.2em;
  position: absolute;
  text-align: right;
  top: 260px;
  width: 80%;
}

button:hover {
  background: #00FFAA;
}

input[type=checkbox] + label:before {
  background: #444;
  content: '';
  display: inline-block;
  height: 16px;
  margin-right: 8px;
  position: relative;
  top: 1px;
  width: 16px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 5%;
  position: relative;
}

.container--offset {
  margin-left: 10%;
}

.scene {
  margin: 0;
  padding: 0;
}

.fill {
  bottom: 5%;
  left: 5%;
  position: absolute;
  right: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 0.15;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(150deg);
}

.layer:nth-child(2) {
  opacity: 0.30;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(120deg);
}

.layer:nth-child(3) {
  opacity: 0.45;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(4) {
  opacity: 0.60;
}
.layer:nth-child(4) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(5) {
  opacity: 0.75;
}
.layer:nth-child(5) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(6) {
  opacity: 0.90;
}
.layer:nth-child(6) button {
}
